:root{
    --nav-color:#1876f2;
    --nav-color:#1A4565;
    --page-bg-color:#f0f0f0;
}

body{
    background: linear-gradient(315deg, #182b3a 0%, #20a4f3 60%);
    background-repeat: no-repeat;
    background-size: cover;
}

*{
padding: 0;
margin: 0;
font-family: 'poppins',sans-serif;
box-sizing: border-box;
}

a{
    text-decoration: none;
}
.menubar{
    height: 80px;
    border-bottom: 1px solid #DADADA;
    width: 100%;
    background: var(--nav-color);
    /* background: #1A4565; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}
.menubar .logo{
    color: #fff;
}
.menu-icon{
   display: none;
   margin-left: 15%;
   font-size: 25px;
}
h2{
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
h3{
    cursor: pointer;
}
.menubar .others{
  display: flex;
  justify-content: space-around;
  transition: 0.3s ease-in;
}

.others a{
    color: #fff;
    text-decoration: none;
    margin: 0 12px;
    border-bottom: 1px solid transparent;
    transition: 0.3s ease-in;

}
.others a:hover{
    border-bottom: 1px solid #fff;
}

/* -------------------------- hem-menu ---------------------------------------- */
.hem-menu{
  border: 1px solid #fff;
  background: #1A4565;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  display: none;
  /* transform: translateX(500px); */
}
.hem-menu a{
    border: 1px solid #fff;
    width: 100%;
    text-align: center;
    margin: 15px;
    padding: 6px 0;
    border-radius: 5px;
}
.hem-menu a h4{
    color: #fff;
    font-size: 14px;
    padding: 10px;
}

.main{
    height: 30vw;
    /* height: 40vh; */
    width: 100%;
    margin: 2rem 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
}


/* ------------- main div ------------------------------------*/

.main{
    height: 30vw;
    /* height: 40vh; */
    width: 100%;
    margin: 2rem 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
}

.main h1{
    font-size: 5rem;
}

/* mid-end body part */

.mid-end-part{

    border-top: 1px solid #fff;
    margin: 50px 20px;
}


/* service section */
.aboutwebsite{
    /* border: 1px solid #fff; */
    height: 50vh;
  }

  .all-fetures{
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
  }
  .all-fetures div{
    border: 1px solid #fff;
    width: 250px;
    overflow: hidden;
    box-shadow: 20px 30px solid #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }
  .all-fetures h5{
    color: #fff;
    background: #1A4565;
    padding: 5px;
    height: 30px;
    text-align: center;
  }
  .all-fetures div img{
    margin: 5px auto;
    border-radius: 5px;
  }
  .all-fetures div button{
    margin: 10px 5px;
    padding: 2px 0;
    border-radius: 5px;
    border: none;
    background: #dadada;
    font-size: 16px;
    height: 60px;
    cursor: pointer;
  }
  .all-fetures div button a{
    font-weight: 500;
    color: #000;
    width: 250px;
    height: 100%;
    border: 1px solid black;
  }

  .all-fetures div button a h3{
    width: 100%;
    height: 100%;
  }

  /* footer section */

  footer{
    border: 1px solid transparent;
    margin: 50px 0 0 0;
    background: #1A4565;
  }

  footer h1{
      color: #fff;
      text-align: center;
      margin: 20px;
  }


  /* ------------ making web responsive */


  @media(max-width:500px){

    body{
      /* background-color: linear-gradient(315deg, #182b3a 0%, #20a4f3 60%); */
      background: #1876f2;
      
  }

    .menubar .others{
      display: none;
    }

    .menu-icon{
       display: block;
       color: #fff;
       border: none;
    }

    .menubar .logo a h2{
      font-size: 1.8rem;
    }

    .main{
      height: 18vh;
      margin: 10px 0;
    }

    .main h1{
      font-size: 2.3rem;
      font-weight: 900;
    }

    .mid-end-part{
       width: 100%;
       margin: 30px 0;
    }

    .all-fetures{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 20px;
    }
    .all-fetures div{
      width: 100%;
       margin: 20px 0;
       align-items: center;
       box-shadow: 2px 3px  0px #fff;
    }

    .all-fetures div h5{
      height: 40px;
      width: 100%;
      font-size: 24px;
    }
    .all-fetures div img{
      width: 90%;
    }

    .all-fetures div button{
      width: 90%;
    }

    footer{
      display: none;
    }
 }